.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group2 {
    display:none;
}

.show {
    display: block;
}



.main-bg {
    padding: 100px 20px;
    background: lightgrey;
}

.black-bg {
    width: 80%;
    height: 50px;
    position : fixed;
    background: rgba(248, 237, 237, 0.873);
    z-index : 5;
    padding : 30px;
    display : none;
}

.show-modal {
    display : block;
}