.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group2 {
    display:none;
}

.show {
    display: block;
}



.main-bg {
    padding: 100px 20px;
    background: lightgrey;
}

.black-bg {
    width: 80%;
    height: 50px;
    position : fixed;
    background: rgba(248, 237, 237, 0.873);
    z-index : 5;
    padding : 30px;
    display : none;
}

.show-modal {
    display : block;
}

#hide {
    display:block;
}

.alert-danger {
    display : block;
}

.slide-container {
    width: 300vw;
    transition: all 1s;
}

.slide-box {
    width:100vw;
    float : left;
}

.slide-box img {
width: 100%
}

.navbar2 {
    position : fixed;
    width: 100%;
    z-index: 5;
    height : 50px;
}

.navbar-brand2 {
    font-size : 30px;
}

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  ul.list::after {
    content: '';
    display: block;
    clear: both;
  }
  .tab-button {
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
  .orange {
    border-top: 2px solid orange;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-left: 1px solid #ccc;
    color: black;
    margin-top: -2px;
  }
  .tab-content {
    display: none;
    padding: 10px;
  }
  .show {
    display: block;
  }