/* selector 우선순위  style(body에 직접입력) >> id(#) >> class(.) >> 태그 */

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_name {
    font-size: 25px;
    font-family: 'gulim';
    text-align: center;
}

.text_job {
    text-align: center;
}

#text_describe {
    text-align: center;
}

.box1 {
    background-color: cadetblue;
    width: 200px;
    margin: 10px;
    padding: 40px;
    border: 4px solid red;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px gray;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 100px;
    background: aquamarine;

}

.left_menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    /* float: left; */
}

.right_menu {
    width: 80%;
    height:400px;
    background: coral;
    display: inline-block;
    /* float: left; */
}

.footer {
    width : 100%;
    height : 100px;
    background-color : grey;
    /* clear:both; */
}

/* selector 우선순위  style(body에 직접입력) >> id(#) >> class(.) >> 태그 */