/* selector 우선순위  style(body에 직접입력) >> id(#) >> class(.) >> 태그 */

.navbar li {
    display: inline-block;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_name {
    font-size: 25px;
    font-family: 'gulim';
    text-align: center;
}

.text_job {
    text-align: center;
}

#text_describe {
    text-align: center;
}

.box1 {
    background-color: cadetblue;
    width: 200px;
    margin: 10px;
    padding: 40px;
    border: 4px solid red;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px gray;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 100px;
    background: aquamarine;

}

.left_menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    /* float: left; */
}

.right_menu {
    width: 80%;
    height: 400px;
    background: coral;
    display: inline-block;
    /* float: left; */
}

.main_background {
    background-image: url(../img/shoes.jpg);
    width: 100%;
    height : 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:1px;
    position: relative;
}

.main_text{
    margin-left: 20px;
}

.main_title {
    color:white;
    font-size:40px;
    margin-top: 200px;
}

.main_title2 {
    color:white;
    font-size:20px;
}

.main_button {
 padding: 15px;
 font-size: 20px;
 background: white;
 border:none;
 border-radius: 15px;
 position: relative; /*내 원래 위치에서 이동하시오, 공중에 뜸*/
 left:10px;
}

.main_ex {
   width : 80%;
   max-width: 600px;
   background: gray;
   border : 10px red;
   border: 4px none;
   border-radius: 15px;
   padding: 10px;
   position: relative;
   bottom: 20px;
   text-align: center;
   margin: auto;
   box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    /* clear:both; */
}

/* selector 우선순위  style(body에 직접입력) >> id(#) >> class(.) >> 태그 */